<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesDashboard</title>
    <link href="~/css/output.css" rel="stylesheet" />
    <link href="~/css/tailwind.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-b shadow-sm mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">

                <div class="d-flex align-items-center gap-3">
                    <a class="navbar-brand text-primary fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                        SalesDashboard
                    </a>

                    <ul class="navbar-nav flex-grow-1 d-flex gap-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>

                <div class="me-3">
                    <partial name="_LoginStatus" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2025 - SalesDashboard -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
